librosa
resemble-perth
safetensors
huggingface_hub
numpy
runpod
transformers
tqdm
einops
diffusers
conformer
s3tokenizer
scipy
omegaconf
tokenizers
torchaudio
python-dotenv
requests


# docker run yourdockerhubusername/runpod-inference:latest


